<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

	<header th:replace="/layout/header::header"></header>



	<div class="container">
		<section>
			<p>Pagina en construccion</p>
		</section>
	</div>


	<footer th:replace="/layout/footer::footer"></footer>


<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>